:root{
    --bg: #212529;
    --fg:#50585f;
}

body{
    background-color: #212529;
    color: #fff;
    margin: 0%;
}

.t-box{
    background-color: var(--fg);
	width: 15%;
    padding: 0px 15px;
	margin: 0 auto;
	position: absolute;
    top: 15%;
	left: 0px;
    right: 0px;
    border-radius: 25px;
}

.m-box{
    background-color: var(--fg);
	width: 15%;
    padding: 0px 15px;
	margin: 0 auto;
	position: absolute;
    top: 50%;
	left: 0px;
    right: 0px;
    border-radius: 25px;
}

.title{
    font-size: 60px;    
    text-align: center;
}

.main{
    font-size: 25px;    
    text-align: justify;
}

