:root{
    --bg: #212529;
    --fg:#50585f;
}

body{
    background-color: #212529;
    color: #fff;
    margin: 0%;
}

.fist-box{
    background-color: var(--fg);
	width: 280px;
    padding-left: 30px;
	/*padding-right: 40px;*/
	margin: 0;
	position: absolute;
	top: 30%;
	left: 40%;

}

.title{
    font-size: 60px;
    align-items: center;
}

